{% load staticfiles %}

<html><head>
  <script src="{% static 'js/vendor/jquery-1.9.1.js' %}"></script>
  <script src="{% static 'js/vendor/jquery-ui.js' %}"></script>
  <script src="{% static 'js/stereoui.js' %}"></script>
  <link rel="stylesheet" href="{% static 'css/bootstrap-3.2.0.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}">
  <link rel="stylesheet" href="{% static 'css/stereoui.css' %}">
  <link rel="stylesheet" href="{% static 'css/color-buttons.css' %}">
</head>
<body>

<div id="common-controls" class="box">
<h3>Power</h3>
<button class ="btn btn-red btn-power" id="power-on"><span id="icon-power-on" class="icon-power glyphicon glyphicon-ok" aria-hidden="true"></span> on</button>
<button class ="btn btn-black btn-power" id="power-off"><span id="icon-power-off" class="icon-power glyphicon glyphicon-ok" aria-hidden="true"></span> off</button>
<h3>Volume</h3>
<div>
<div id="slider-volume"></div>
<div id="below-volume-slider"><span id="volume-setPoint"></span><span id="volume-moving"></span></div>
</div>
</div>

<div id="now-playing" class="box">
<table>
<tr><td class="now-playing-label">Song:</td><td> <span id="now-playing-song"></span> <span id="love-song"><img width=16 height=16 src="/static//icons/Thumbs_up_32px.png"></span> <span id="ban-song"><img width=16 height=16 src="/static//icons/Thumbs_down_32px.png"></span></td></tr>
<tr><td class="now-playing-label">Artist:</td><td id= "now-playing-artist"></td></tr>
<tr><td class="now-playing-label">Station:</td><td id="now-playing-station"><span id="now-playing-station-name"></span><select style="width: 18px;" onChange="stereo.onStationChanged();" id="now-playing-station-select"></select></td></tr>
</table>
<br>
<button class ="btn btn-blue" id="next-song">Next Song</button>
</div>

</body>
